name: dispatch_action

on:
  push:
    branches:
      - master
      - main

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger repository dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.GH_PAT }}
          repository: jaeseung9/github-programmers-rank
          event-type: trigger-workflow
